<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的权限定符 -->
<mapper namespace="com.sky.mapper.ShoppingCartMapper">


    <select id="list" resultType="shoppingCart">
        select *
        from
        shopping_cart
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="setmealId != null">
                and setmeal_id = #{setmealId}
            </if>
            <if test="dishId != null">
                and dish_id = #{dishId}
            </if>
            <if test="dishFlavor != null">
                and dish_flavor = #{dishFlavor}
            </if>
        </where>
    </select>


    <select id="selectOne" resultType="shoppingCart">
        select * from shopping_cart
        <where>
            user_id = #{userId}
            <if test="dishId != null">
                and dish_id = #{dishId}
            </if>
            <if test="setmealId != null">
                and setmeal_id = #{setmealId}
            </if>
            <if test="dishFlavor != null">
                and dish_flavor = #{dishFlavor}
            </if>
        </where>
    </select>

    <insert id="insertBatch">

        insert into shopping_cart
        (name, user_id, dish_id, setmeal_id, dish_flavor, number, amount, image, create_time)
        values
        <foreach collection="shoppingCartList" item="c" separator=",">
            (#{c.name}, #{c.userId}, #{c.dishId}, #{c.setmealId}, #{c.dishFlavor}, #{c.number}, #{c.amount}, #{c.image}, #{c.createTime})
        </foreach>


    </insert>







</mapper>